@model List<LoadViewModel>

@{
    var groupBySubjects = Model.GroupBy(val => val.SubjectId).ToList();
    var groupByGroup = Model.GroupBy(val => val.GroupId).ToList();
    var groupByLoadTypes = Model.GroupBy(val => val.LoadTypeId).ToList();

    var loadTypeCount = 3 + groupByLoadTypes.Count;
    var hoursCount = $"{(100 - ((100 / loadTypeCount) * 3)) - 2}%";
    var isHaveLoads = Model.Count == 0;
}

<div hidden="@isHaveLoads">
    <ul style="padding: 0" class="flex-row__space-between">
        <li style="width: calc(100% / @loadTypeCount)" class="list-group-item">Дисциплина</li>
        <li style="width: calc(100% / @loadTypeCount)" class="list-group-item">Группа</li>
        @foreach (var item in groupByLoadTypes)
        {
            <li style="width: calc(100% / @loadTypeCount)" class="list-group-item">
                @await Component.InvokeAsync("GetLoadTypeById", new { id = item.Key })
            </li>
        }
        <li style="width: calc(100% / @loadTypeCount)" class="list-group-item">Итого</li>
    </ul>
    <div class="flex-row__space-between">
        <ul style="width: calc(100% / @loadTypeCount); padding: 0" class="flex-column__space-between">
            @foreach (var item in groupBySubjects)
            {
                <li style="width: 100%" class="list-group-item">
                    @await Component.InvokeAsync("GetSubjectById", new { id = item.Key })
                </li>
            }
        </ul>
        <ul style="width: calc(100% / @loadTypeCount); padding: 0" class="flex-column__space-between">
            @foreach (var item in groupByGroup)
            {
                <li style="width: 100%" class="list-group-item">
                    @await Component.InvokeAsync("GetGroupById", new { id = item.Key })
                </li>

            }
        </ul>
        <ul style="width:@hoursCount; padding: 0" class="flex-column__space-between">
            @foreach (var item in groupBySubjects)
            {
                <li style="width: 100%">
                    <ul style="padding: 0" class="flex-row__space-between">
                        @foreach (var load in item)
                        {
                            <li style="width: 33%" class="list-group-item">
                                <ul class="flex-column__space-between">
                                    <li>
                                        <input id="LoadId" value="@load.Id" hidden />
                                        <div>@load.Hours</div>
                                    </li>
                                    <li class="flex-row__center">
                                        @await Component.InvokeAsync("GetExecuteLoadsByLoadId", new { loadId = load.Id, viewName = "Default" })
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
        <ul style="width: calc(100% / @loadTypeCount); padding: 0" class="flex-column__space-between">
            @foreach (var item in groupBySubjects)
            {
                <li style="width: 100%" class="list-group-item">
                    <div>@item.Sum(val => val.Hours)</div>
                </li>
                <li style="width: 100%" class="list-group-item">
                    @await Component.InvokeAsync("GetExecuteLoadsByLoadsId", new { loads = item })
                </li>
            }
        </ul>
    </div>
</div>
<input data-content="saveExecuteLoad" type="button" class="btn btn-success" style="margin: 1vw;" value="Сохранить" hidden="@isHaveLoads"/>