@model List<SpecialityViewModel>

@{
    ViewData["Title"] = "Специальности";
}

@await Html.PartialAsync("~/Views/_Directories.cshtml")
<div class="flex-row__space-between" style="margin: 1vw;">
    <h5>Специальности</h5>
    @if (User.Identity.IsAuthenticated && User.IsInRole(RoleNames.MethodologistDepartment))
    {
        <form method="get" asp-action="CreateSpeciality" asp-controller="Speciality" asp-antiforgery="false">
            <input type="submit" class="btn btn-success" value="Создать" />
        </form>
    }
</div>
<ul style="margin: 2vw;" class="flex-row__space-between">
    @foreach (var item in Model)
    {
        <li>
            <div class="card" style="width: 25vw; margin: 2vw;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item flex-row__space-between">
                        <div class="alert alert-success" role="alert">Кафедра</div>
                        <div class="alert alert-light" role="alert">@item.Chair</div>
                    </li>
                    <li class="list-group-item flex-row__space-between">
                        <div class="alert alert-success" role="alert">Специальность</div>
                        <div class="alert alert-light" role="alert">@item.Name</div>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated && User.IsInRole(RoleNames.MethodologistDepartment))
                {
                    <div class="card-body flex-row__space-between">
                        @FormHelper.CreateForm(Html, "btn btn-success", "Speciality", "UpdateSpeciality", "Редактировтаь", @item.Id.ToString())
                        @FormHelper.CreateForm(Html, "btn btn-warning", "Speciality", "DeleteSpeciality", "Удалить", @item.Id.ToString())
                    </div>
                }
            </div>
        </li>
    }
</ul>