@model List<TeacherViewModel>

@{
    ViewData["Title"] = "Преподаватели";
}

@await Html.PartialAsync("~/Views/_Directories.cshtml")
<div class="flex-row__space-between" style="margin: 1vw;">
    <h5>Преподаватели</h5>
    @if (User.Identity.IsAuthenticated && User.IsInRole(RoleNames.MethodologistDepartment))
    {
        <form method="get" asp-action="CreateTeacher" asp-controller="Teacher" asp-antiforgery="false">
            <input type="submit" class="btn btn-success" value="Создать" />
        </form>
    }
</div>
<ul style="margin: 2vw;" class="flex-row__space-between">
    @foreach (var item in Model)
    {
        <li>
            <div style="width: 40vw; margin: 2vw;">
                <ul>
                    <li class="flex-row__space-between">
                        <div>Полное имя</div>
                        <div><strong>@item.FullName</strong></div>
                    </li>
                    <li class="flex-row__space-between">
                        <div>Должность</div>
                        <div><strong>@item.Position</strong></div>
                    </li>
                    <li class="flex-row__space-between">
                        <div>Образовнаие</div>
                        <div><strong>@item.Education</strong></div>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated && User.IsInRole(RoleNames.MethodologistDepartment))
                {
                    <div class="card-body flex-row__space-between">
                        @FormHelper.CreateForm(Html, "btn btn-success", "Teacher", "UpdateTeacher", "Редактировтаь", @item.Id.ToString())
                        @FormHelper.CreateForm(Html, "btn btn-warning", "Teacher", "DeleteTeacher", "Удалить", @item.Id.ToString())
                    </div>
                }
            </div>
        </li>
    }
</ul>